<%= form_for(@sound) do |f| %>
  <% if @sound.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sound.errors.count, "error") %> <%= t('.prohibited_this_sound_from_being_saved') %></h2>

      <ul>
      <% @sound.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label t('.sound_name') %><br />
    <%= f.text_field :name, :class =>"textField" %>
  </div>
  <div class="field">
    <%= f.label t('.sound_entity') %><br />
    <%= f.text_field :symbol, :class =>"textField" %>
  </div>
	<div class="field">
    <%= f.label t('.sound_website') %><br />
    <%= f.text_field :website, :class =>"textField" %>
  </div>
  <div class="actions">
    <%= f.submit :class =>"button" %>
  </div>
<% end %>
